<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <!-- 配置日志文件输出目录 -->
        <Property name="LOG_HOME" value="D:/logs/" />
        <Property name="LOG_NAME">http</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread]) %-5level %logger{80} - %msg%n">
            </PatternLayout>
        </Console>
        <RollingFile name="service_error_appender" fileName="${LOG_HOME}error.log"
                     filePattern="${LOG_HOME}/error.log.%d{yyyy-MM-dd}-%i" append="true" immediateFlush="true">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M -- %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root lever="DEBUG">
            <appender-ref ref="console"></appender-ref>
            <appender-ref ref="service_error_appender"></appender-ref>
        </root>
    </loggers>
</configuration>