:root {
    --backColor: #fd8cba;
    --frontColor: #ff6699;

}

.header {
    background-color: white;
}

.sidenav .sidenav__menu-link {
    color: var(--backColor);
}

.sidenav__menu-link:hover, .sidenav__menu-link:focus {
    color: var(--frontColor);
    background: white;
}

.nav__holder.nav--sticky {
    background-color: var(--backColor);
}

.nav__holder.nav--sticky .nav__menu > li > a {
    color: #f3f3f3;
    border: none;
}

.nav__holder.nav--sticky .nav__menu .nav__dropdown-menu {
    background-color: var(--backColor);
    color: white;
}

.nav__dropdown-menu > li > a, .nav__dropdown-submenu > .nav__dropdown-menu > li > a {
    color: white;
}

.owl-dot.active span, .owl-dot:hover span {
    background-color: var(--frontColor);
}

.owl-next:hover i,
.owl-prev:hover i {
    color: var(--frontColor);
}

.tab-post__tabs .tabs__item--active a {
    color: var(--frontColor);
}

.tab-post__tabs .tabs__item a:hover, .tab-post__tabs .tabs__item a:focus {
    color: var(--frontColor);
}

.entry__meta-category {
    color: var(--backColor);
}

.entry__meta-category:hover {
    color: var(--frontColor);
}

.section-title {
    color: var(--frontColor);

}

.widget-title {
    color: var(--frontColor);
}

.carousel-nav__btn:focus {
    outline: none;
}

.carousel-nav__btn:hover {
    background-color: var(--backColor);
    color: #fff;
    border-color: transparent;
}

/*.sidenav{*/
/*background-color:var(--backColor);*/

/*}*/
.nav__holder.nav--sticky .nav__menu > li > a:hover,
.nav__holder.nav--sticky .nav__menu > li.active {
    color: white;
    border: none;
}

.nav-icon-toggle__inner, .nav-icon-toggle__inner:before, .nav-icon-toggle__inner:after {
    background-color: white;
}

.nav__menu > li > a:after {
    background-color: var(--styleColor);
}