##引入mybatis支持
        $!mybatisSupport

        ##设置保存名称与保存位置
        $!callback.setFileName($tool.append($!{tableInfo.name}, "Mapper.xml"))
        $!callback.setSavePath($tool.append($modulePath, "/src/main/resources/mapper"))

        ##拿到主键
        #if(!$tableInfo.pkColumn.isEmpty())
        #set($pk = $tableInfo.pkColumn.get(0))
        #end

        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$!{tableInfo.savePackageName}.mapper.$!{tableInfo.name}Mapper">

    <resultMap type="$!{tableInfo.savePackageName}.api.vo.Vo$!{tableInfo.name}" id="baseResultMap">
        #foreach($column in $tableInfo.fullColumn)
        <result property="$!column.name" column="$!column.obj.name" jdbcType="$!column.ext.jdbcType"/>
        #end
    </resultMap>
    <select id="selectList" resultMap="baseResultMap" parameterType="QueryInfo">
        select #allSqlColumn() from $!tableInfo.obj.name
        <trim prefix="where" prefixOverrides="and|or" suffixOverrides="and|or">
            <foreach collection="parList" index="key" item="it" separator="and" open=" (" close=") ">
                <if test="it.operate =='in'">
                    ${it.key} ${it.operate} (#{it.value})
                </if>
                <if test="it.operate !='in'">
                    ${it.key} ${it.operate} #{it.value}
                </if>
            </foreach>
            and
            <if test="searchKey != null and searchKey !=''">
            </if>
        </trim>
    </select>

</mapper>